#root {
  margin: 0;
  padding: 0rem 2rem;
  background-color: white;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  min-height: 100vh;
 
}
* {
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
