* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  margin-top: 1rem ;
  background-color: white;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}